@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  right: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  /* Uncomment and set color if needed */
  /* background-color: #011B6D !important; */
  border-radius: 40px;
}

::placeholder {
  @apply text-sm italic text-gray-500;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 2px;
}
