@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Add this to your main CSS file or index.css */
@import "@ckeditor/ckeditor5-theme-lark/theme/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Asap", serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Asap", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Asap", sans-serif;
}

::-webkit-scrollbar {
  /* Customize as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #440080 !important;
  border-radius: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-hide {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.PhoneInput {
  height: 4rem;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 9999px;
  padding: 0 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  font-size: 0.875rem;
}

.PhoneInputInput {
  border: none;
  background: transparent;
  height: 100%;
  width: 100%;
  font-size: 0.875rem;
  outline: none;
}

.PhoneInputInput:focus {
  border-color: #440080;
  box-shadow: 0 0 0 2px rgba(68, 0, 128, 0.2);
}

.PhoneInputCountry {
  border-radius: 9999px;
  margin-right: 0.5rem;
  background: transparent;
}

.PhoneInput:hover {
  border-color: #440080;
}

/* Styles for CKEditor content area */
.ck-content h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.ck-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

.ck-content h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

.ck-content p {
  font-size: 1em;
  margin: 1em 0;
}

/* Ensure styles apply when rendering blog content */
.blog-content h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.blog-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

.blog-content h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

.blog-content p {
  font-size: 1em;
  margin: 1em 0;
}
